.main-content {
    padding: 24px;

    .expand-row {
        cursor: pointer;
    }

    .row-detail-section {
        padding-left: 35px;

        .detail-item {
            margin: 16px 0;

            .detail-item-label {
                font-weight: bold;
            }
        }
    }
}
.example-spacer {
    flex: 1 1 auto;
}
